/* Structure du fond de la page */
html, body {
    margin:0; 
    padding:0;
    background: #ffffff;
}

h2 {
    font-family: Optima, sans-serif;
    font-size:250%;
    color:black;
    background-color:transparent;
    text-align:center;
}

h3 {
    font-family: Optima, sans-serif;
    font-size:140%;
    color:black;
    background-color:transparent;
    text-align:center;
}
    
h4 {
    font-family: Optima, sans-serif;
    font-size:120%;
    color:black;
    background-color:transparent;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}



button {
    text-decoration: none;
    font-family: Optima, sans-serif;
    border-radius: 4px;
    background-color: rgba(14, 14, 62, 0.72);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;
}

/* Police des paragraphes */
p {
    font-family: Optima, sans-serif;
    font-size:100%;
    color:black;
    background-color:transparent;
    text-align:center;
    margin-left:30px;
    margin-right:30px;
    margin-top:30px;
    margin-bottom:50px;
    }


/* Structure des cellules */
tr, td { 
    border:0;
    text-align:center;
    padding: 0;

    }

/* Bordure du formulaire */
form {
    width: 90%;
    padding: 10px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Structure des containers */
#container{
    width:100px;
    margin:0 auto;
    margin-top:3%;
}

#container h1{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    font-family: Optima, sans-serif;
}

/* Style des boutons */
input[type=submit] {
    background-color: rgba(14, 14, 62, 0.72);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

/* Style de la table */
table {
    font-family: Optima, sans-serif;
    width: 85%;
    border-style:none; 
    border:0;
    border-collapse: collapse;
    text-align : center;
    }


